@import "./item.css";
@import "./editor.css";
@import "./context.css"; 
@import "./material-ocean.css"; 
@import "./material-icons/main.css"; 
@import "./toastify.css"; 
@import "./tippy.css"; 
body {
    font-family: monospace;
    color: white;
    margin: 0px;
}

.listing {
    background: #36393f;
    height: 88vh;
    width: 100%;
    overflow: auto;
}

.info {
    display: flex;
    margin: auto;
    padding: 0px;
    margin-left: 0px;
}

.tools {
    background: #40444b;
    height: 7vh;
    width: 100%;
}

.info .tag {
    background: #00000040;
    padding: 5px;
    text-align: center;
    padding-left: 14px;
    padding-right: 14px;
    width: max-content;
    border-right: solid #40444b 1px;
}

.tool-button {
    transition: all 0.1s;
    cursor: pointer;
    padding: 12px;
    background: #2c2f34;
    width: max-content;
    display: inline-flex;
    text-align: center;
    border-right: solid #40444b 1px;
    user-select: none;
    height: -webkit-fill-available;
}

.tool-button:hover {
    transform: scale(1.2) translate(0px, -5px);
    box-shadow: 0 0 20px #00000081;
    border: none;
}

.tool-button .title {
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    margin-left: 7px;
}

.swal2-modal {
    background: #292a2d !important;
    box-shadow: 0px 7px 20px #00000085 !important;
}

.swal2-input {
    border: none !important;
    background: #ffffff14 !important;
}

.log {
    position: fixed;
    width: 221px;
    right: 0;
    white-space: nowrap;
    bottom: 0;
    padding: 4px;
    text-overflow: ellipsis;
    height: min-content;
    overflow: hidden;
    margin: 11px;
    padding-left: 13px;
    padding-right: 13px;
    background: #292a2d;
    font-size: 9pt;
    border: 1px solid #333333;
    box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-button {
    width: 20px;
    height: 20px;
}

::-webkit-scrollbar-thumb {
    background: #5a5f69;
    border: 0px none #ffffff;
    border-radius: 100px;
}

::-webkit-scrollbar-track {
    background: #26292e;
    border: 10px none #ffffff;
    border-radius: 100px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

.detail {
    background: #26292e;
    height: 5vh;
    display: flex;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.hidden {
    display: none;
}

.log-logs {
    border-bottom: solid 2px #ffffff4f;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background: #ffffff0d;
    padding: 10px;
    max-height: 50vh;
    box-shadow: 1px 3px 8px #00000075;
    margin-top: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.info-up, .info-down {
    margin-left: auto;
    float: right;
    display: inline;
    transform: scale(1.2);
    margin: auto;
    font-size: 9pt;
    opacity: 0.7;
    user-select: none;
}

.info-up {
    display: none;
}

.hidden-log .info-up {
    display: inline !important;
}

.hidden-log .info-down, .hidden-log .log-items {
    display: none !important;
}

.log-text {
    display: inline;
}

.log-tools .tool-button .material-icons {
    font-size: 10px;
}

.log-tools .tool-button {
    margin: 1px;
    margin-top: 10px;
}
.tippy-box {
    background: #292a2d;
    font-size: 9pt;
    border: 1px solid #333333;
    box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.5);
}
.tool-button .material-icons {
    margin: auto;
    font-size: 20px;
}